.caja_puntos_container {
    display: flex;
    width: 100%;
}

.caja_puntos_columna_1 {
    display: flex;
    /* Esta propiedad te ajusta al centro del contenedor los elementos */
    align-items: center;
    /* Esta propiedad te alinea el contenido al medio del contenedor */
    justify-content: center;
    background-color: red;
    width: 50px;
}

.caja_puntos_columna_2 {
    background-color: green;
    width: calc(100% - 100px);
}

.caja_puntos_columna_3 {
    display: flex;
    /* Esta propiedad te ajusta al centro del contenedor los elementos */
    align-items: center;
    /* Esta propiedad te alinea el contenido al medio del contenedor */
    justify-content: center;
    background-color: yellow;
    width: 50px;
}
